html {
    color: #222;
    background-color: #f7f5f6;
    font-size: 1.2em;
    line-height: 1.4;
    font-family: 'Neucha', cursive;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    margin: 0 auto;
}

#title {
    float: left;
}

.piche {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 200px;
}

#header-text {
    position: absolute;
    top: 50px;
    left: 200px;
}

#tel {
    color: #FE9900;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 200px;
}

.menu {
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.item {
    //background-color: #4694BD;
    border-bottom: 5px solid #FE9900;
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto 10% 25px 10%;
    cursor: pointer;
    border-radius: 2%;
}

.item:hover {
    border-radius: 30%;
    transition: 0.1s;
}

.item.first {
    margin: auto 0 25px 0;
}

.item.last {
    margin: auto 0 25px 0;
}

span {
    display: block;
    font-size: 0.8em;
    position: relative;
}

.text {
    padding: 25px;
    clear: left;
}

#shema {
    background-image: url(../img/shema.png);
    background-repeat: no-repeat;
    min-width: 600px;
    min-height: 350px;
    margin: 0 0 0 calc(50% - 300px);
}

footer {
    height: 200px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    padding: 20px;
}

a {
    text-decoration: none;
}

.button  {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    z-index: 2;
}
.button:hover  {
    background: rgb(53, 167, 110);
}

.button:active  {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

@media (max-width: 1000px) and (min-width: 601px) {
    #title {
        position: relative;
        float: none;
    }
   .menu {
        margin-top: 0;
        overflow: hidden;
    }

    body {
        width: 100%;
    }

    #header-text {
        top: 50px;
    }

    .item {
      min-width: 150px;
        display: block;
    }

    #shema {
        background-image: url(../img/shema_small.png);
        background-repeat: no-repeat;
        min-width: 450px;
        min-height: 350px;
        margin: 0 0 0 calc(50% - 224px);
    }

}

@media (max-width: 600px) {
    body {
        width: 100%;
    }

    #title {
        position: relative;
        float: none;
    }
    .menu {
        margin-top: 0px;
    }

    #header-text {
        top: 50px;
        bottom: 50px;
    }

    .menu {
        display: block;
        margin: 0 0 0 calc(50% - 75px);
    }

    .item {
        min-width: 150px;
        //display: block;
        margin: 0 0 25px 0;
    }

    .text {
        padding: 20px;
    }

    #shema {
        background-image: url(../img/shema_supersmall.png);
        background-repeat: no-repeat;
        min-width: 350px;
        margin: 0 0 0 calc(50% - 174px);
    }
}
